@Html.Partial("~/Views/Shared/_Navbar.cshtml")
<div class="container">
    <div id="generalReviews" ng-init="init('@ViewBag.Reviews', '@ViewBag.locationId', '@ViewBag.placeId', '@ViewBag.Name');"
         ng-hide="hideReviews">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <h2>@ViewBag.Name</h2>
                    <br />
                    <div class="text-left">
                        @ViewBag.Address
                    </div>
                    <br />
                    <div class="">
                        <button class="btn primaryButton" ng-click="toggleCategoryTxtBx()">Search with a Category</button>
                        <button class="btn primaryButton" data-toggle="modal" data-target="#addReviewModal" ng-click="clearModal()">Add a Review</button>
                        <div ng-show="showCategoryTxtBx">
                            <br />
                            <input type="text" placeholder="Category" class="form-control" ng-model="categoryTxtBx" />
                            <button class="btn primaryButton" ng-click="filterByCategory()">Submit</button>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-show="isNoReviews()">
                    <h3>Sorry, there are no reviews at this time. Add one now!</h3>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="review in Reviews" ng-hide="isNoReviews()">
                    <div class="reviewContainer col-xs-12 col-md-6 wow fadeIn" data-wow-delay="{{ ::$index / 3}}s" data-wow-duration="0.5s">
                        <div class="review">
                            {{ ::review.ReviewText }}
                            <br />
                            <div class="text-left" style="color: gray;">
                                {{ ::review.CategoryName }}
                            </div>
                            <div class="text-right">
                                <span ng-repeat="n in [] | range:review.Stars" class="glyphicon glyphicon-star"></span>
                                <br />
                                <div class="row">
                                    <div class="col-xs-6 text-left">
                                        <span class="glyphicon glyphicon-arrow-up unclicked-up-vote" ng-class="{'hover-up-vote':hover }" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="upVote(review.Id)"></span>{{ ::review.UpVotes }}&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-down unclicked-down-vote" ng-class="{'hover-down-vote':hover2 }" ng-mouseenter="hover2 = true" ng-mouseleave="hover2 = false" ng-click="downVote(review.Id)"></span>{{ ::review.DownVotes }}
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        {{ ::review.Author }}&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
    <div id="addReviewModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@ViewBag.Name</h4>
                </div>
                <div class="modal-body">
                    <form name="myForm" novalidate>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" ng-model="nameTxtBx" name="name" required />
                            <span class="text-danger" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                                <span ng-show="myForm.name.$error.required" class="text-danger">Please enter a name.</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Review Category (optional)" ng-model="category" />
                        </div>
                        <div class="form-group">
                            <textarea cols="40" rows="5" class="form-control" placeholder="Review" ng-model="reviewTxtArea" name="review" required></textarea>
                            <span class="text-danger" ng-show="myForm.review.$dirty && myForm.review.$invalid">
                                <span ng-show="myForm.review.$error.required" class="text-danger">Please enter a review.</span>
                            </span>
                        </div>
                        <br />
                        <div class="form-group text-center">
                            <span id="star1" class="glyphicon glyphicon-star unclicked-star"></span>&nbsp;&nbsp;<span id="star2" class="glyphicon glyphicon-star unclicked-star"></span>&nbsp;&nbsp;<span id="star3" class="glyphicon glyphicon-star unclicked-star"></span>&nbsp;&nbsp;<span id="star4" class="glyphicon glyphicon-star unclicked-star"></span>&nbsp;&nbsp;<span id="star5" class="glyphicon glyphicon-star unclicked-star"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div vc-recaptcha key="'6LcQ4BATAAAAAPwppWpWNabTlsUCpX07pzYxYm06'"></div>
                    <button type="submit" class="btn btn-default" ng-disabled="myForm.name.$pristine || myForm.review.$pristine || myForm.name.$dirty && myForm.name.$invalid || myForm.review.$dirty && myForm.review.$invalid || stars == 0" ng-click="submitReview()">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>