@Html.Partial("~/Views/Shared/_Navbar.cshtml")

<div id="generalReviews" ng-init="init('@ViewBag.Reviews', '@ViewBag.locationId', '@ViewBag.placeId');"
     ng-hide="hideReviews">
    <div class="col-xs-12" ng-show="isNoReviews()">
        <h1>Sorry, there are no reviews at this time. Add one now!</h1>
    </div>
    <div ng-hide="isNoReviews()">
        <div class="col-xs-12">
            <h2>@ViewBag.Name</h2>
            <br />
            <div class="text-left">
                @ViewBag.Address
            </div>
            <br />
            <div class="text-right">
                <button class="btn primaryButton" ng-click="toggleCategoryTxtBx()">Search with a Category</button>
                <button class="btn primaryButton">Add a Review</button>
                <div ng-show="showCategoryTxtBx">
                    <input type="text" placeholder="Category" class="form-control" ng-model="categoryTxtBx" />
                    <button class="btn primaryButton" ng-click="searchByCategoy()">Submit</button>
                </div>
            </div>
            <br />
        </div>
        <div ng-repeat="review in ::Reviews" ng-hide="isNoReviews()">
            <div class="reviewContainer col-xs-12 col-md-6 wow fadeIn" data-wow-delay="{{ ::$index / 3}}s" data-wow-duration="0.5s">
                <div class="review">
                    {{ ::review.ReviewText }}
                    <br />
                    <br />
                    <div class="text-left" style="color: gray;">
                        {{ ::review.CategoryName }}
                    </div>
                    <div class="text-right">
                        <span ng-repeat="n in [] | range:g.Stars" class="glyphicon glyphicon-star"></span>
                        <br />
                        {{ ::review.Author }}&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-if="!isNoReviews()">
            Get more speficic reviews by searching with a category
            <br />
            @*<input type="text" placeholder="Category" class="form-control" ng-model="categoryTxtBx" />
            <button class="btn primaryButton" ng-click="searchByCategoy()">Submit</button>*@
        </div>
        <button class="btn primaryButton" ng-click="toggleCatForm()">Add a Categorized Review</button>
        <button class="btn primaryButton" ng-click="toggleGenForm()">Add a General Review</button>
    </div>
    <br />
    <br />
</div>
<div ng-hide="hideGenForm">
    <div class="row">
        <div class="col-xs-12">
            <input id="nameTxtBx" type="text" placeholder="Name" class="form-control" ng-model="nameTxtBx" />
            <textarea id="reviewTxtBx" type="text" placeholder="Review" rows="4" class="form-control" ng-model="reviewTxtArea"></textarea>
            <button id="submitBtn" class="btn btn-primary" ng-click="submitGeneralReview()">
                Submit
            </button>
        </div>
    </div>
</div>
<div ng-hide="hideCatForm">
    <div class="row">
        <div class="col-xs-12">
            <input id="nameTxtBx" type="text" placeholder="Category" class="form-control" ng-model="nameTxtBx" />
            <textarea id="reviewTxtBx" type="text" placeholder="Review" rows="4" class="form-control" ng-model="reviewTxtArea"></textarea>
            <button id="submitBtn" class="btn btn-primary" ng-click="submitReview()">
                Submit
            </button>
        </div>
    </div>
</div>